openapi: 3.0.3
info:
  title: FlatWrite API
  version: 0.2.0
  description: |
    FlatWrite public APIs:

    - **Render** at `https://render.flatwrite.md` — markdown → HTML fragments
    - **Assist** at `https://assist.flatwrite.md` — Morph-powered document AI
      (Reflex → Router → Compact → Fast Models)
    - **Extract** at `https://extract.flatwrite.md` — file ingest → Markdown

    See also `docs/MORPH-ASSIST.md` and `services/extract/README.md`.
  contact:
    name: Mahesh Shantaram
    url: https://thecontrarian.in
servers:
  - url: https://render.flatwrite.md
    description: Render production
  - url: https://assist.flatwrite.md
    description: Assist production (Morph)
  - url: https://extract.flatwrite.md
    description: Production (file-extract proxy)
tags:
  - name: render
    description: Render markdown into HTML head/body fragments
  - name: assist
    description: AI document assist via Morph
  - name: extract
    description: Convert dropped files (PDF, DOCX, PPTX, XLSX, etc.) to Markdown
security:
  - ApiKeyAuth: []
paths:
  /render:
    options:
      summary: CORS preflight
      description: |
        Returns the CORS headers required for browser clients to call the
        endpoint. Always returns 204 with no body.
      security: []
      responses:
        '204':
          description: CORS preflight accepted
          headers:
            Access-Control-Allow-Origin:
              schema: { type: string }
            Access-Control-Allow-Methods:
              schema: { type: string }
            Access-Control-Allow-Headers:
              schema: { type: string }
            Access-Control-Max-Age:
              schema: { type: string }
    post:
      summary: Render markdown (or a markdown URL) to HTML fragments
      description: |
        Renders the given markdown (or markdown fetched from `markdownUrl`) into
        `{ head, body }` HTML fragments suitable for direct injection into a
        document. If both `markdown` and `markdownUrl` are provided, `markdown`
        wins and `markdownUrl` is used as the base URL for resolving relative
        links.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkdownRenderRequest'
            examples:
              rawMarkdown:
                summary: Raw markdown
                value:
                  markdown: "# Hello\n\nWorld"
                  framework: spectre
              fromUrl:
                summary: Markdown fetched from a URL
                value:
                  markdownUrl: https://raw.githubusercontent.com/owner/repo/main/README.md
      responses:
        '200':
          description: Rendered HTML fragments
          headers:
            X-RateLimit-Limit:
              schema: { type: integer }
              description: Per-minute request cap for this caller IP
            X-RateLimit-Remaining:
              schema: { type: integer }
              description: Remaining requests in the current window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkdownRenderResponse'
        '400':
          description: Bad request (missing fields, invalid JSON)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid X-Api-Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed (POST only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported media type (Worker only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema: { type: integer }
              description: Seconds until the next request is allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Render failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Upstream fetch failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /extract:
    options:
      summary: CORS preflight
      description: |
        Returns the CORS headers required for browser clients to call the
        endpoint with a `multipart/form-data` body. Always returns 204
        with no body.
      security: []
      responses:
        '204':
          description: CORS preflight accepted
          headers:
            Access-Control-Allow-Origin:
              schema: { type: string }
            Access-Control-Allow-Methods:
              schema: { type: string }
            Access-Control-Allow-Headers:
              schema: { type: string }
            Access-Control-Max-Age:
              schema: { type: string }
    post:
      tags: [extract]
      summary: Convert an uploaded file to Markdown
      description: |
        Accepts a single file via `multipart/form-data` and converts it to
        deterministic Markdown. Supports PDF, PPTX, DOCX, XLSX/XLS, CSV,
        JSON, XML, ZIP, EPUB, HTML, and common image and audio formats
        (image and audio return a metadata-only stub in v1 — no OCR, no
        transcription). 25 MB hard cap; no LLM calls; no disk writes.
      security:
        - McpTokenAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to extract. Must have an allowlisted extension.
      responses:
        '200':
          description: Extracted Markdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
        '400':
          description: Empty file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Missing or invalid X-Api-Key / X-Mcp-Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: Method not allowed (POST only)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '413':
          description: Payload too large (25 MB cap)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '415':
          description: Unsupported file extension
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Conversion failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Upstream (Fly.io) unreachable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /assist:
    post:
      tags: [assist]
      summary: AI-assist a markdown document (Morph pipeline)
      description: |
        Runs Reflex → Model Router → Compact (optional) → Fast Models and
        returns edited markdown. Selection-aware. Does not persist state.
        Browser clients must use `X-Mcp-Token` from `POST /mcp-token` on
        the assist host; long-lived `X-Api-Key` is server-to-server only.
      servers:
        - url: https://assist.flatwrite.md
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [markdown]
              properties:
                markdown:
                  type: string
                  description: Full document markdown
                mode:
                  type: string
                  enum: [custom, rewrite, shorten, fix_grammar]
                  default: rewrite
                instruction:
                  type: string
                  description: Required when mode is custom
                selection:
                  type: object
                  properties:
                    start: { type: integer, minimum: 0 }
                    end: { type: integer, minimum: 0 }
                    text: { type: string }
                options:
                  type: object
                  properties:
                    tone: { type: string }
                    preserveFrontmatter: { type: boolean, default: true }
                    maxOutputTokens: { type: integer }
            example:
              mode: rewrite
              markdown: "# Draft\n\nTeh quick brown fox."
      responses:
        '200':
          description: Assist result
          content:
            application/json:
              schema:
                type: object
                required: [ok, markdown, piece, scope]
                properties:
                  ok: { type: boolean, enum: [true] }
                  markdown: { type: string }
                  piece: { type: string }
                  scope: { type: string, enum: [selection, document] }
                  explanation: { type: string }
                  model: { type: string }
                  routing:
                    type: object
                    properties:
                      tier: { type: string }
                      difficulty: { type: string }
                      confidence: { type: number, nullable: true }
                      domain: { type: string, nullable: true }
                  compacted: { type: boolean }
                  usage:
                    type: object
                    nullable: true
                  reflex:
                    type: object
        '400':
          description: Validation or reflex block
        '401':
          description: Unauthorized
        '429':
          description: Rate limited
        '502':
          description: Upstream Morph failure
  /mcp-token:
    post:
      tags: [assist]
      summary: Mint short-lived browser token for Assist
      security: []
      servers:
        - url: https://assist.flatwrite.md
      responses:
        '200':
          description: Token minted
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  expiresAt: { type: integer }
                  scope: { type: string, enum: [assist] }
        '403':
          description: Origin not allowed
  /health:
    get:
      tags: [assist]
      summary: Assist service health
      security: []
      servers:
        - url: https://assist.flatwrite.md
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
    McpTokenAuth:
      type: apiKey
      in: header
      name: X-Mcp-Token
      description: Browser-facing short-lived MCP token minted by the render Worker. Used by the /extract proxy path.
  schemas:
    MarkdownRenderRequest:
      type: object
      anyOf:
        - required: [markdown]
        - required: [markdownUrl]
      properties:
        markdown:
          type: string
          description: Raw markdown content to render. Wins if both are supplied.
        markdownUrl:
          type: string
          format: uri
          description: |
            URL pointing to raw markdown content. The host must be on the
            upstream allowlist (raw.githubusercontent.com, raw.gitlab.com,
            bitbucket.org).
        framework:
          type: string
          description: UI framework token (e.g. spectre, pico, oat, poshui).
        fontFamily:
          type: string
          description: Font family name (e.g. Inter, Merriweather, Lora).
        theme:
          type: string
          description: Theme identifier (e.g. light, dark).
        fontSize:
          type: string
          description: Font size token.
        lineHeight:
          type: string
          description: Line height token.
        uiZoom:
          type: number
          format: float
          description: UI zoom multiplier (1.0 = default).
    MarkdownRenderResponse:
      type: object
      required: [head, body]
      properties:
        head:
          type: string
          description: HTML to inject into <head>.
        body:
          type: string
          description: HTML to inject into <body>.
    ErrorResponse:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
          description: Human-readable error message.
        code:
          type: string
          description: Machine-readable error code.
          enum:
            - MISSING_CONTENT
            - INVALID_JSON
            - INVALID_YAML
            - UNAUTHORIZED
            - METHOD_NOT_ALLOWED
            - PAYLOAD_TOO_LARGE
            - RATE_LIMIT
            - UPSTREAM_FETCH_FAILED
            - UPSTREAM_UNREACHABLE
            - UNSUPPORTED_MEDIA_TYPE
            - UNSUPPORTED_FILE_TYPE
            - MISCONFIGURED
            - RENDER_FAILED
            - EXTRACT_FAILED
            - CONVERSION_FAILED
            - EMPTY_FILE
            - BAD_REQUEST
        detail:
          type: string
          description: Optional additional context (e.g. upstream error).
        retryAfter:
          type: integer
          format: int32
          nullable: true
          description: Seconds until the next request is allowed (RATE_LIMIT only).
    ExtractResponse:
      type: object
      required: [markdown, metadata]
      properties:
        markdown:
          type: string
          description: The converted Markdown. For image/audio inputs this is a small metadata stub.
        metadata:
          type: object
          required: [extractionType, filename, fileType, sizeBytes]
          properties:
            extractionType:
              type: string
              enum:
                - powerpoint-notes
                - word-body
                - pdf-body
                - excel-tables
                - structured-data
                - epub-body
                - image-metadata
                - audio-metadata
                - raw
            filename:
              type: string
              description: The original filename as supplied by the caller.
            fileType:
              type: string
              enum:
                - powerpoint
                - word
                - pdf
                - excel
                - csv
                - epub
                - image
                - audio
            sizeBytes:
              type: integer
              format: int32
              description: Size of the upload in bytes.
